[Unit]
Description=Gunicorn instance to serve Flaskagram
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/project/Flaskagram
Environment="PATH=/usr/local/bin"
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind unix:/var/www/project/Flaskagram/flaskagram.sock -m 007 runserver:app

[Install]
WantedBy=multi-user.target
