[Unit]
Description=Gunicorn instance to serve Flaskagram
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/html/Flaskagram
Environment="PATH=/usr/local/bin"
ExecStart=/var/www/html/Flaskagram/venv/bin/gunicorn    --workers=3\
                                                        --bind=unix:/var/www/html/Flaskagram/flaskagram.sock\
                                                        --error-logfile=/var/log/gunicorn/error.log\
                                                        --log-file=/var/log/gunicorn/access.log\
                                                        --log-level=debug\
                                                        -m=007\
                                                        runserver:app


[Install]
WantedBy=multi-user.target
