<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Home Page - {{ current_user.username }}{% endblock %}
{% block css %}../static/styles/index.css{% endblock %}

<body>
<div class="container">
    <section>
        {% block pagebody %}
            <div class="page-main">
                <div class="page-main clearfix">
                    {% for image in images %}
                        <article class="mod">
                            <header class="mod-hd">
                                <time class="time">{{ image.created_time }}</time>
                                <a href="/profile/{{ image.user.id }}" class="avatar">
                                    <img src="{{ image.user.avatar_url }}">
                                </a>
                                <div class="profile-info">
                                    <a title="{{ image.user.username }}"
                                       href="/profile/{{ image.user.id }}">{{ image.user.username }}</a>
                                </div>
                            </header>
                            <div class="mod-bd">
                                <div class="img-box">
                                    <a href="/image/{{ image.id }}"><img src="{{ image.url }}"></a>
                                </div>
                            </div>
                            <div class="mod-ft">
                                <ul class="discuss-list">
                                    <li class="more-discuss">
                                        <a href="/image/5/">
                                            <span>View all </span>
                                            <span class="">{{ image.comments|length }}</span>
                                            <span> comments</span></a>
                                    </li>
                                    <div class="js-comment-list-5">
                                        {% for comment in image.comments %}
                                            {% if loop.index > 3 %}
                                                {% break %}
                                            {% endif %}
                                            <li>
                                                <a class="{{ comment.user.username }}"
                                                   title="{{ comment.user.username }}"
                                                   href="/profile/{{ comment.user.id }}"
                                                   data-reactid=".0.1.0.0.0.2.1.2:$comment-17856951190001917.1">{{ comment.user.username }}</a>
                                                <span>
                                                    <span>{{ comment.comment }}</span>
                                                </span>
                                            </li>
                                        {% endfor %}
                                    </div>
                                </ul>
                                <section class="discuss-edit">
                                    <a class="icon-heart-empty js-heart"></a>
                                    <!--don't know how to change the color of heart just like add comment in index page-->
                                    <input placeholder="Add a comment..." id="jsCmt" type="text">
                                    <button class="more-info" id="5" content="请到图片详情页进行评论！" onclick=addcomment(this)>
                                        More...
                                    </button>
                                </section>
                            </div>
                        </article>
                    {% endfor %}
                </div>
                <!--更多按钮为什么偏移靠下，只显示一半出来，在js并未成的时候却政策，css也完全一样根本没改动啊-->
                <!--在整个外面在增加一个div和article将这部分套起来就可以了，其实就是尽量和profile.html保持一致-->

                <div class="more-content js-load-more">
                    <a class="_oidfu" id="more-btn" href="javascript:void(0);">更多</a>
                </div>
            </div>
            <script>
                function addcomment(e) {
                    var id = e.getAttribute("id");
                    var cls = e.getAttribute('class');
                    var content = e.getAttribute('content')
                    return alert(content);
                }
            </script>
        {% endblock %}
    </section>
</div>
</body>
<!--<script type="text/javascript">-->
<!--window.uid = 1;-->
<!--//    window.uid how to set ?就设置成一个可以识别窗口的值就可以了-->
<!--</script>-->
<!--<script type="text/javascript" src="/static/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="/static/js/index.js"></script>-->

</html>