<!DOCTYPE html>
<html>
{% extends "base.html" %}
{% block title %}Page Detail{% endblock %}
{% block css %}../static/styles/detail.css{% endblock %}
{% block pagebody %}
<body>
    <div class="container">
        <section>
            <header class="header">
                <div class="header-cont">
                    <a class="logo" href="/">logo</a>
                    <div class="web-menu">

                        <a class="profile-ico" href="/loginpage/">登陆</a>

                    </div>
                    <div class="web-menu" >

                    </div>
                </div>
            </header>

<div class="page-main clearfix">
    <article>
        <div class="pic-wrapper">
            <img src="https://images.unsplash.com/photo-1465232377925-cce9a9d87843?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;w=1080&amp;fit=max&amp;s=598b4757ff366f73289f6b94773dd52d?imageview2/1/w/600/h/600">
        </div>
        <div class="pic-discuss">
            <header class="discuss-hd">
                <a href="/profile/2" class="avatar">
                    <img src="https://images.unsplash.com/profile-1465318440583-698881dcff76?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=faces&amp;fit=crop&amp;h=32&amp;w=32&amp;s=b698ef7381b9856df35afc1df9479af0">
                </a>
                <div class="profile-info">
                    <a title="royaannmillera" href="/profile/2">royaannmillera</a>
                </div>
            </header>
            <ul class="js-discuss-list">


                <li>

                    <a class="_4zhc5 _iqaka" title="royaannmillera" href="/profile/2" data-reactid="9">royaannmillera</a>
                    <span>
                        <span>给世上某个姑娘的情书</span>
                    </span>
                </li>


                <li>

                    <a class="_4zhc5 _iqaka" title="royaannmillera" href="/profile/2" data-reactid="10">royaannmillera</a>
                    <span>
                        <span>有些人，比起朋友，更</span>
                    </span>
                </li>


                <li>

                    <a class="_4zhc5 _iqaka" title="12077688763" href="/profile/32" data-reactid="195">12077688763</a>
                    <span>
                        <span>666test</span>
                    </span>
                </li>


                <li>

                    <a class="_4zhc5 _iqaka" title="Yii" href="/profile/34" data-reactid="196">Yii</a>
                    <span>
                        <span>hello world</span>
                    </span>
                </li>


                <li>

                    <a class="_4zhc5 _iqaka" title="tuni" href="/profile/35" data-reactid="197">tuni</a>
                    <span>
                        <span>good</span>
                    </span>
                </li>


                <li>

                    <a class="_4zhc5 _iqaka" title="tuni" href="/profile/35" data-reactid="198">tuni</a>
                    <span>
                        <span>hello</span>
                    </span>
                </li>


                <li>

                    <a class="_4zhc5 _iqaka" title="byebye415" href="/profile/63" data-reactid="208">byebye415</a>
                    <span>
                        <span>haha</span>
                    </span>
                </li>


                <li>

                    <a class="_4zhc5 _iqaka" title="韩小圆" href="/profile/71" data-reactid="210">韩小圆</a>
                    <span>
                        <span>666666</span>
                    </span>
                </li>

            </ul>

            <section class="discuss-edit">
               <a class="icon-heart-empty"></a>
                <!--<a class="icon-heart-empty"></a>-->
                <input placeholder="添加评论..." id="jsCmt" type="text">
                <button class="more-info" id="jsSubmit" >更多选项</button>
            </section>
        </div>
    </article>
</div>


        </section>
    </div>
</body>

<!--<script type="text/javascript">-->
    <!--window.uid = 5;-->
<!--</script>-->
<!--<script type="text/javascript" src="/static/js/jquery.js"></script>-->
<!--<script type="text/javascript" src="/static/js/detail.js"></script>-->
{% endblock %}
</html>