{% extends "base.html" %}
{% block title %}Page Detail{% endblock %}
{% block css %}../static/styles/detail.css{% endblock %}

<body>
<div class="container">
    <section>
        {% block pagebody %}
            <div class="page-main clearfix">
                <article>
                    <div class="pic-wrapper">
                        <img src="{{ image.url }}">
                    </div>
                    <div class="pic-discuss">
                        <header class="discuss-hd">
                            <a href="/profile/{{ image.user.id }}" class="avatar">
                                <img src="{{ image.user.avatar_url }}">
                            </a>
                            <div class="profile-info">
                                <a title="{{ image.user.username }}"
                                   href="/profile/{{ image.user.id }}">{{ image.user.username }}</a>
                            </div>
                        </header>
                        <ul class="js-discuss-list">

                            {% for comment in image.comments %}
                                {% if loop.index > 3 %}
                                    {% break %}
                                {% endif %}
                                <li>
                                    <a class="{{ comment.user.username }}" title="{{ comment.user.username }}"
                                       href="/profile/{{ comment.user.id }}"
                                       data-reactid="9">{{ comment.user.username }}</a>
                                    <span>
                                        <span>{{ comment.comment }}</span>
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>

                        <section class="discuss-edit">
                            <a class="icon-heart-empty"></a>
                            <!--<a class="icon-heart-empty"></a>-->
                            <input placeholder="Add a comment..." id="jsCmt" type="text">
                            <button class="more-info" id="jsSubmit">More...</button>
                        </section>
                    </div>
                </article>
            </div>
        {% endblock %}
    </section>
</div>
</body>
{% block js %}
    <script type="text/javascript">
        window.imageId ={{image.id}};
    </script>
    <script type="text/javascript" src="../static/js/jquery.js"></script>
    <script type="text/javascript" src="../static/js/detail.js"></script>
{% endblock %}